<form action="/locations" method="get">
    <input type="text" name="name" placeholder="Search by name..." value="<%= filters.name %>">
    <input type="text" name="dimension" placeholder="Search by Dimension..." value="<%= filters.dimension %>">
    <button type="submit">Apply Filter</button>
</form>